<div class="form-check">
  <input class="form-check-input" type="checkbox" [(ngModel)]="myBook" (change)="onCheckboxChange()">
  <label class="form-check-label" for="myCheckbox">
    My Books
  </label>
</div>

<br>
<table class="table table-striped" style="width:100%">
  <thead>
    <tr>
      <th>Title</th>
      <th>ISBN</th>
      <th>Language</th>
      <th>Wydawca</th>
      <th>Data publikacji</th>
      <th>Ilość stron</th>
      <th *ngIf="!myBook">Właściciel</th>
      <th *ngIf="!myBook">Wypożycz</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of books">
      <td>{{ item.title }}</td>
      <td>{{ item.ISBN }}</td>
      <td>{{ item.language }}</td>
      <td>{{ item.publisher }}</td>
      <td>{{ item.publishedYear }}</td>
      <td>{{ item.numPages }}</td>
      <td *ngIf="!myBook" [routerLink]="['/user', item.userDTO.id]" class="text-primary"
        [ngStyle]="{ 'cursor': 'pointer' }">{{item.userDTO.login}}</td>
      <button *ngIf="!myBook" [routerLink]="['/book', item.id]">Kliknij</button>
    </tr>
  </tbody>
</table>